MLX42/* linguist-generated
*.c linguist-language=C
*.h linguist-language=C
Makefile linguist-language=Makefile
*.cpp linguist-language=C++
CMakeLists.txt linguist-language=CMake
*.py linguist-language=Python
*.glsl linguist-language=GLSL
